{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document Storage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'image\favicon.ico' %}">
</head>
<body>
    <div class="notification-box flex flex-col items-center justify-center fixed w-full z-50 p-3"></div>

    {% block content %}{% endblock content %}
    
    <script src="{% static 'js\main.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script>
                    sendNotification('success', '{{message}}')
                </script>
            {% endif %}
            {% if message.tags == "info" %}
                <script>
                    sendNotification('info', '{{message}}')
                </script>
            {% endif %}
            {% if message.tags == "error" %}
                <script>
                    sendNotification('error', '{{message}}')
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <script>
                    sendNotification('error', '{{ error|escape }}')
                </script>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <script>
                sendNotification('error', '{{ error|escape }}')
            </script>
        {% endfor %}
    {% endif %}

</body>
</html>