{% extends "user/base.html" %}

{% block content %}

		<div class="container-login">
			<div class="wrap-login">
				<form class="login-form" method="post" action="{% url 'register' %}">
					{% csrf_token %}
					<span class="login-form-title">
						Register
					</span>

					<div class="wrap-input" data-validate="Valid email is: a@b.c">
						<input class="input" type="text" name="username" placeholder="Username">
					</div>

					<div class="wrap-input" data-validate="Enter password">
						<input class="input" type="password" name="password1" placeholder="Password">
					</div>

					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button class="login-form-btn" type="submit">
								Sign Up
							</button>
						</div>
					</div>

					<div class="text-center">
						<span class="txt1">
							Already have an account ?
						</span>

						<a class="txt2" href="{% url 'login' %}">
							Sign In
						</a>
					</div>
				</form>
			</div>
		</div>

{% endblock content %}